version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: weekly
      time: "08:00"
      timezone: "Europe/Berlin"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
      time: "08:00"
      timezone: "Europe/Berlin"